.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: fit-content;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  display: grid;
  place-content: center;
  &:hover {
    transform: scale(1.2);
  }
  &.water {
    pointer-events: none;
    background-color: blue;
    cursor: none;
  }
  &.hit {
    pointer-events: none;
    background-color: red;
    cursor: none;
  }
}

