@use "../../styles/variables" as *;

#create-player {
  background-color: $tertiary-color;
  padding: 20px;
  display: flex;
  gap: 15px;
  border-radius: 16px;
  align-items: center;
  height: fit-content;
  width: fit-content;
  grid-row: 1/ 2;
  justify-self: center;
  border: 2px solid $primary-color;
  box-shadow: $box-shadow;
  #player-one-name {
    padding: 4px;
    border-radius: 8px;
    outline: none;
    border: 2px solid black;
    &:focus {
      border: 2px solid $primary-color;
    }
  }

  #submit {
    padding: 6px 24px;
    border-radius: 8px;
    cursor: pointer;
  }
}