@use "../../styles/variables" as *;

.ship-selector {
  width: fit-content;

  &.horizontal {
    display: flex;
  }

  &.selected {
    background-color: green;
  }
}

.select-ship-cell {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  background-color: white;
}

#swap {
  padding: 6px 16px;
  margin-top: 25px;
  border-radius: $small-rounding;
  cursor: pointer;
}





